<?xml version="1.0"?>
<launch>

  <arg name="use_rviz" default="false" doc="Flag for starting RViz."/>
  <arg name="rviz_config" default="$(find oscar_robot_setup_bringup)/etc/oscar_ur3_lab3023.rviz" doc="Flag for starting RViz."/>
  <arg name="enable_gripper" default="true" doc="Flag to enable/disable the gripper"/>
  <arg name="enable_camera" default="true" doc="Flag to enable/disable the realsense camera"/>
  <arg name="enable_fts" default="true" doc="Flag to enable/disable the force torque sensor"/>
  <arg name="robot_ip" default="192.168.0.20" doc="IP address by which the robot can be reached."/>
  <arg name="robotiq_gripper_device" default="/dev/robotiq_2f_140" doc="Device path for the Robotiq 2F gripper"/>
  <arg name="robotiq_ft_device_id" default="robotiq_ft_300" doc="Device id (without the /dev) for the Robotiq FT sensor"/>
  <arg name="pipette_tool_device" default="/dev/pipette_tool" doc="Device path for the pipette tool"/>

  <!-- robot_description -->
  <include file="$(find oscar_robot_setup_description)/launch/load_oscar_ur3_lab3023.launch"/>

  <!-- Remap force controllers sensor topics **MUST be done before including the ur3 robot driver below -->
  <remap from="/pipette_my_cartesian_force_controller/ft_sensor_wrench" to="/robotiq_ft_sensor/wrench_filtered" />
  <remap from="/gripper_my_cartesian_force_controller/ft_sensor_wrench" to="/robotiq_ft_sensor/wrench_filtered" />

  <!-- ur3 robot driver -->
  <include file="$(find oscar_ur_launch)/launch/ur3-2017333047.launch">
    <!-- <arg name="debug" value="true"/> -->
    <arg name="controller_config_file" value="$(find oscar_robot_setup_bringup)/config/ur3_controllers.yaml"/>
    <!-- <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller robot_status_controller" doc="Controllers that are activated by default."/> -->
    <arg name="controllers" default="joint_state_controller robot_status_controller" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" doc="Controllers that are initally loaded, but not started."
         default="pos_joint_traj_controller
                  joint_group_vel_controller
                  gripper_my_cartesian_force_controller
                  pipette_my_cartesian_force_controller
                  my_cartesian_compliance_controller"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <!-- robotiq 2f140 driver -->
  <group if="$(arg enable_gripper)">
    <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_2f_gripper_serial.launch">
      <arg name="slave_number" default="9" />
      <arg name="activate" default="True" />
      <arg name="port" value="$(arg robotiq_gripper_device)"/>
    </include>
  </group>

  <!-- robotiq 2f140 action server -->
  <group if="$(arg enable_gripper)">
    <include file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_action_server.launch" />
  </group>

  <!-- robotiq ft300 -->
  <group if="$(arg enable_fts)">
    <node name="robotiq_ft_sensor" pkg="robotiq_ft_sensor" type="rq_sensor" output="screen">
      <param name="frame_id" type="str" value="robotiq_ft300_reference_frame"/>
      <!-- /dev/{serial_id} -->
      <param name="serial_id" type="str" value="$(arg robotiq_ft_device_id)"/>
    </node>
  </group>

  <!-- realsense ds415 driver -->
  <group if="$(arg enable_camera)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="color_fps" value="30"/>
      <arg name="color_width" value="1920"/>
      <arg name="color_height" value="1080"/>
      <arg name="publish_tf" value="false"/>
    </include>
  </group>

  <!-- pipette -->
  <node name="pipette_200ul" pkg="ros_pipette_tool" type="action_server" output="screen">
    <param name="baudrate" type="int" value="9600"/>
    <param name="device" type="str" value="$(arg pipette_tool_device)"/>
    <param name="action_server_topic" type="str" value="/robotic_tools/pipette"/>
  </node>


  <!-- cartesian feedback -->
  <include file="$(find task_space_feedback)/launch/task_space_feedback_server.launch"/>

  <!-- bacterial colony analysis service -->
  <node name="ros_colony_morphology" pkg="ros_colony_morphology" type="get_colony_morphology_server.py" output="screen" />


  <!-- start rviz (optional) -->
  <group if="$(arg use_rviz)">

    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world tabletop" />
    <arg name="command_args" value="-d $(arg rviz_config)" />
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
          args="$(arg command_args)" output="screen"/>
  </group>

</launch>
