<?xml version="1.0"?>
<launch>

  <include file="$(find oscar_robot_setup_bringup)/launch/oscar_ur3_lab3023_bringup.launch">
    <arg name="use_rviz" default="true" doc="Flag for starting RViz."/>
    <arg name="rviz_config" default="$(find oscar_robot_setup_bringup)/etc/oscar_ur3_lab3023.hand_to_eye_calibration.rviz" doc="RViz configuration file"/>
    <arg name="enable_gripper" default="true" doc="Flag to enable/disable the gripper"/>
    <arg name="enable_camera" default="false" doc="Flag to enable/disable the realsense camera"/>
    <arg name="enable_fts" default="true" doc="Flag to enable/disable the force torque sensor"/>
  </include>

  <!-- Launch the robot move_group in calibration mode-->
  <include file="$(find oscar_ur3_lab3023_moveit_config)/launch/move_group.launch" />


  <!-- realsense ds415 driver -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="color_fps" value="30"/>
    <arg name="color_width" value="1920"/>
    <arg name="color_height" value="1080"/>
    <arg name="publish_tf" value="false"/>
  </include>

</launch>
