<?xml version="1.0"?>
<launch>

  <arg name="use_rviz" default="false" doc="Flag for starting RViz."/>

  <!-- robot_description -->
  <include file="$(find oscar_robot_setup_description)/launch/load_oscar_ur3_lab_mobile_capture_tool.launch"/>

  <!-- ur3 robot driver -->
  <include file="$(find oscar_ur_launch)/launch/ur3-2017333047.launch">
    <arg name="controller_config_file" value="$(find oscar_robot_setup_bringup)/config/ur3_controllers.yaml"/>
    <!-- <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller robot_status_controller" doc="Controllers that are activated by default."/> -->
    <arg name="controllers" default="joint_state_controller  robot_status_controller" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>
    <arg name="robot_ip" default="192.168.0.20" doc="IP address by which the robot can be reached."/>
  </include>

  <!-- robotiq ft300 -->
  <node name="robotiq_ft_sensor" pkg="robotiq_ft_sensor" type="rq_sensor" output="screen">
    <param name="frame_id" type="str" value="robotiq_ft300_reference_frame"/>
    <!-- /dev/{serial_id} -->
    <param name="serial_id" type="str" value="robotiq_ft_300"/>

  </node>

  <!-- start rviz (optional) -->
  <group if="$(arg use_rviz)">

    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world tabletop" />

    <arg name="command_args" value="-d $(find oscar_robot_setup_bringup)/etc/oscar_ur3_lab_mobile_capture_tool.rviz" />

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
          args="$(arg command_args)" output="screen">
    </node>
  </group>

</launch>
