<?xml version="1.0"?>
<robot name="oscar_ur3_station_portable" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find oscar_description)/urdf/newport/sa2_30x30_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/ur3_big_mounting_plate_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur3_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_fts_300_cpl_062/robotiq_fts_300_cpl_062_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_ft_300/robotiq_ft_300_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_agc_apl_159_002/robotiq_agc_apl_159_002_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140/inc/robotiq_2f_140_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_agc_tip_220_140/robotiq_agc_tip_220_140_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/pipette_p200_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/biorad_t100_adapter_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/biorad/thermocycler_t100_open_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/picknik/ur5_realsense_camera_adapter_macro.xacro"/>
  <!-- <xacro:include filename="$(find oscar_description)/urdf/intel/realsense_d415_macro.xacro"/> -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

  <!-- TCP calibration of the robotiq gripper (xyz)-->
  <!-- <xacro:property name="tcp_calibration_gripper" value="0.0010977079105917165 -0.00047849967130053628 -2.3860966923898729e-05" /> -->

  <!-- wrt. the robotiq_base frame -->
  <xacro:property name="tcp_calibration_gripper" value="0.00160516037 0.00101565847 -0.00215532428" />

  <!-- Table supporting the tabletop breadboard -->
  <link name="tabletop">
    <!-- <visual> -->
    <!--   <origin xyz="0 0 0" rpy="0 0 0"/> -->
    <!--   <geometry> -->
    <!--     <box size="1.27 1.1176 0.0254"/> -->
    <!--   </geometry> -->
    <!--   <material name=""> -->
    <!--     <color rgba="0.79216 0.81961 0.93333 1" /> -->
    <!--   </material> -->
    <!-- </visual> -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.1176 1.27 0.0254"/>
      </geometry>
    </collision>
  </link>

  <!-- Wall -->
  <link name="wall">
    <!-- <visual> -->
    <!--   <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/> -->
    <!--   <geometry> -->
    <!--     <box size="1.27 1.1176 0.0254"/> -->
    <!--   </geometry> -->
    <!--   <material name=""> -->
    <!--     <color rgba="0.79216 0.81961 0.93333 1" /> -->
    <!--   </material> -->
    <!-- </visual> -->
    <collision>
      <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
      <geometry>
        <box size="1.1176 1.27 0.0254"/>
      </geometry>
    </collision>
  </link>

  <!-- Optical tabletop breadboard 30x30 inch -->
  <xacro:newport_sa2_30x30
    prefix="newport_"/>

  <xacro:udes_ur3_big_mounting_plate
    prefix="ur3_mounting_plate_"/>

  <!-- UR3 with S/N: 2017333047 -->
  <xacro:ur3_robot
    prefix="ur3_"
    kinematics_parameters_file="$(find oscar_ur_launch)/etc/ur3-2017333047-calibration.yaml"
    visual_parameters_file="$(find oscar_robot_setup_description)/config/ur3_visual_parameters_vhacd_h16.yaml"/>

  <!-- FT-300 ur coupling + sensor -->
  <xacro:robotiq_fts_300_cpl_062
    prefix="robotiq_ft300_coupling_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_fts_300_cpl_062/visual_parameters_bbox.yaml"/>

  <xacro:robotiq_ft_300
    prefix="robotiq_ft300_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_ft_300/visual_parameters_bbox.yaml"/>

  <!-- Dual gripper mounting plate -->
  <xacro:robotiq_agc_apl_159_002
    prefix="dual_gripper_coupling_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_agc_apl_159_002/visual_parameters_bbox.yaml"/>


  <link name="pipette_tcp" />

  <!-- Realsense D415 adapter -->
  <xacro:picknik_ur5_realsense_camera_adapter
    prefix="camera_adapter_"/>

  <!-- Realsense D415 camera -->
  <xacro:sensor_d415 parent="camera_adapter_camera" name="camera" use_nominal_extrinsics="false" add_plug="true" use_mesh="true">
    <origin xyz="${0.02005/2} 0 ${-0.023/2}" rpy="0 0 0"/>
  </xacro:sensor_d415>


  <link name="camera_color_optical_frame"/>


  <!-- 2f-140 gripper + sillicon fingertip pads -->
  <xacro:robotiq_2f_140
    prefix="robotiq_2f140_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_2f_140/visual_parameters_bbox.yaml"
    fingertip_pad_macro_name="robotiq_agc_tip_220_140"
    fingertip_pad_macro_attribute_visual_parameters_file="$(find robotiq_description)/config/robotiq_agc_tip_220_140/visual_parameters.yaml"/>

  <xacro:udes_pipette_p200
    prefix="pipette_"/>

  <joint name="newport_base_joint" type="fixed">
    <parent link= "tabletop" />
    <child link = "newport_base" />
    <!-- Offset by 1.5 inch for mounting foot height -->
    <origin xyz="0 0 ${1.5 * 0.0254 + 0.0254/2}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="wall_joint" type="fixed">
    <parent link= "tabletop" />
    <child link = "wall" />
    <origin xyz="${(22 * 0.0254 - 0.0254/2)} 0 ${44*0.0254/2}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="ur3_mounting_plate_base_joint" type="fixed">
    <parent link= "newport_tabletop" />
    <child link = "ur3_mounting_plate_base" />
    <!-- Newport tabletop has matrix of 1 inch hole gap-->
    <origin xyz="${2 * 0.0254} ${-3 * 0.0254}  0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="ur3_base_joint" type="fixed">
    <parent link= "ur3_mounting_plate_robotside" />
    <child link = "ur3_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi/2}" />
  </joint>

  <joint name="robotiq_fts300_coupling_joint" type="fixed">
    <parent link= "ur3_flange" />
    <child link = "robotiq_ft300_coupling_robotside" />
    <!-- Align mounting plate to flange -->
    <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 0.0" />
  </joint>

  <joint name="robotiq_ft300_joint" type="fixed">
    <parent link= "robotiq_ft300_coupling_toolside" />
    <child link = "robotiq_ft300_robotside" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0" />
  </joint>

  <joint name="dual_gripper_coupling_robotside_joint" type="fixed">
    <parent link= "robotiq_ft300_toolside" />
    <child link = "dual_gripper_coupling_robotside" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="camera_adapter_robotside_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_left" />
    <child link = "camera_adapter_robotside" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="robotiq_2f140_base_joint" type="fixed">
    <parent link= "camera_adapter_toolside" />
    <child link = "robotiq_2f140_base_link" />
    <!-- <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> -->
    <origin xyz="${tcp_calibration_gripper}" rpy="0 0 0" />
  </joint>


  <!-- Calibrated with moveit_calibration pkg -->
  <!-- Error: 0.0021 m, 0.0063 rad-->
  <joint name="camera_color_optical_frame_joint" type="fixed">
    <parent link= "ur3_wrist_3_link" />
    <child link = "camera_color_optical_frame" />
    <origin xyz="-0.0852237 -0.0776651 0.0608126" rpy="-0.1188682 -0.7931895 -0.0029631" />
  </joint>


  <!-- <joint name="robotiq_2f140_base_joint" type="fixed"> -->
  <!--   <parent link= "dual_gripper_coupling_toolside_left" /> -->
  <!--   <child link = "robotiq_2f140_base_link" /> -->
  <!--   <!-\- <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> -\-> -->
  <!--   <origin xyz="${tcp_calibration_gripper}" rpy="0 0 0" /> -->
  <!-- </joint> -->

  <link name="robotiq_2f140_tcp_cad"/>
  <joint name="robotiq_2f140_tcp_cad_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_left" />
    <child link = "robotiq_2f140_tcp_cad" />
    <origin xyz="0.24127678495 0 0" rpy="0 0 0" />
  </joint>



  <joint name="pipette_base_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_right" />
    <child link = "pipette_base" />
    <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 0.0" />
  </joint>


  <!-- Sanity Check -->
  <!-- <link name="pipette_tcp_test"/> -->
  <!-- <joint name="lol" type="fixed"> -->
  <!--   <parent link= "ur3_tool0" /> -->
  <!--   <child link = "pipette_tcp_test" /> -->
  <!--   <origin xyz="0.223439 -0.00046209 0.243363" rpy="0.0 0.0 0.0" /> -->
  <!-- </joint> -->


  <!-- Conveniance frame -->
  <joint name="pipette_tcp_joint" type="fixed">
    <parent link= "pipette_tip" />
    <child link = "pipette_tcp" />
    <!-- Calibrated on Apr 18 2024 with Tool Point Calibration ROS package -->
    <!-- Calibration captured 4 tool poses (out of 4 requested). Computing calibration... -->
    <!-- Calibrated tcp (meters in xyz): [   0.223439 -0.00046209    0.243363] from ur3_tool0 -->
    <!-- Touch point (meters in xyz): [-0.240945  0.241088 0.0427421] in frame newport_tabletop -->
    <!-- Average residual: 1.43073e-07 -->
    <!-- <origin xyz="0.0006228806938889386 0.0011144002871499858 -0.00046208999999987344" rpy="0.0 0.0 0.0" /> -->
    <origin xyz="0.0006464523002427391 0.0005510077330404747 -0.0007046087554606569" rpy="${pi} 0.0 0.0" />
  </joint>

</robot>
