<?xml version="1.0"?>
<robot name="oscar_panda_lab3023" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find oscar_description)/urdf/newport/vh3660_48x48_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/ur_big_mounting_plate_macro.xacro"/>
  <xacro:include filename="$(find oscar_robot_setup_description)/urdf/include/panda.macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_fts_300_cpl_062/robotiq_fts_300_cpl_062_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_ft_300/robotiq_ft_300_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_agc_apl_159_002/robotiq_agc_apl_159_002_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140/inc/robotiq_2f_140_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_agc_tip_220_140/robotiq_agc_tip_220_140_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/pipette_p200_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/realsense_camera_adapter_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/udes/biorad_t100_adapter_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/biorad/thermocycler_t100_open_macro.xacro"/>
  <xacro:include filename="$(find oscar_description)/urdf/picknik/ur5_realsense_camera_adapter_macro.xacro"/>
  <!-- <xacro:include filename="$(find oscar_description)/urdf/intel/realsense_d415_macro.xacro"/> -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

  <!-- TCP calibration of the robotiq gripper (xyz)-->
  <!-- <xacro:property name="tcp_calibration_gripper" value="0.0010977079105917165 -0.00047849967130053628 -2.3860966923898729e-05" /> -->

  <!-- wrt. the robotiq_base frame -->
  <xacro:property name="tcp_calibration_gripper" value="0.00160516037 0.00101565847 -0.00215532428" />

  <!-- Floor -->
  <link name="floor">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.3292 1.6342 0.0254"/>
      </geometry>
    </collision>
  </link>

  <!-- Back Wall -->
  <link name="back_wall">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 1.6342 2.5"/>
      </geometry>
    </collision>
  </link>

  <!-- Hut Wall -->
  <link name="hut_wall">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.3292 0.1 2.5"/>
      </geometry>
    </collision>
  </link>

  <!-- Counter Wall -->
  <link name="counter_wall">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.3292 0.1 2.5"/>
      </geometry>
    </collision>
  </link>

  <!-- Optical tabletop breadboard 30x30 inch -->
  <xacro:newport_vh3660_48x48
    prefix="newport_"/>

  <!-- Panda robot -->
  <xacro:panda />

  <link name="panda_flange" />
  <joint name="panda_flange_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 ${-pi/2.0} ${pi/2}" />
    <parent link="panda_link8" />
    <child link="panda_flange" />
  </joint>



  <!-- FT-300 ur coupling + sensor -->
  <xacro:robotiq_fts_300_cpl_062
    prefix="robotiq_ft300_coupling_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_fts_300_cpl_062/visual_parameters_bbox.yaml"/>

  <xacro:robotiq_ft_300
    prefix="robotiq_ft300_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_ft_300/visual_parameters_bbox.yaml"/>

  <!-- Dual gripper mounting plate -->
  <xacro:robotiq_agc_apl_159_002
    prefix="dual_gripper_coupling_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_agc_apl_159_002/visual_parameters_bbox.yaml"/>


  <!-- UdeS camera adapter attached to gripper -->
  <xacro:udes_realsense_camera_adapter
    prefix="camera_adapter_"/>

  <!-- Realsense D415 camera -->
  <xacro:sensor_d415 parent="camera_adapter_toolside" name="camera" use_nominal_extrinsics="false" add_plug="true" use_mesh="true">
    <origin xyz="${0.02005/2} 0 ${-0.023/2}" rpy="0 0 0"/>
  </xacro:sensor_d415>

  <!-- 2f-140 gripper + sillicon fingertip pads -->
  <xacro:robotiq_2f_140
    prefix="robotiq_2f140_"
    visual_parameters_file="$(find robotiq_description)/config/robotiq_2f_140/visual_parameters_bbox.yaml"
    fingertip_pad_macro_name="robotiq_agc_tip_220_140"
    fingertip_pad_macro_attribute_visual_parameters_file="$(find robotiq_description)/config/robotiq_agc_tip_220_140/visual_parameters.yaml"/>

  <xacro:udes_pipette_p200
    prefix="pipette_"/>

  <joint name="newport_base_joint" type="fixed">
    <parent link= "floor" />
    <child link = "newport_base" />
    <!-- Offset by 1.5 inch for mounting foot height -->
    <origin xyz="${-0.11/2.0} ${-0.0675} ${26 * 0.0254}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="back_wall_joint" type="fixed">
    <parent link= "floor" />
    <child link = "back_wall" />
    <origin xyz="${1.3292/2.0 - 0.1/2.0} 0 ${2.5/2.0 - 0.0254/2.0}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="hut_wall_joint" type="fixed">
    <parent link= "floor" />
    <child link = "hut_wall" />
    <origin xyz="0 ${1.6342/2.0 - 0.1/2.0} ${2.5/2.0 - 0.0254/2.0}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="counter_wall_joint" type="fixed">
    <parent link= "floor" />
    <child link = "counter_wall" />
    <origin xyz="0 ${-(1.6342/2.0 - 0.1/2.0)} ${2.5/2.0 - 0.0254/2.0}" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="panda_mounting_joint" type="fixed">
    <parent link= "newport_tabletop" />
    <child link = "panda_link0" />
    <!-- Newport tabletop has matrix of 1 inch hole gap-->
    <origin xyz="${2 * 0.0254} ${-1 * 0.0254 + 2*0.0254}  0.0" rpy="0.0 0.0 ${pi/2}" />
  </joint>

  <joint name="robotiq_fts300_coupling_joint" type="fixed">
    <parent link= "panda_flange" />
    <child link = "robotiq_ft300_coupling_robotside" />
    <!-- Align mounting plate to flange -->
    <!-- Works until ejecting 4th tip -->
    <!-- <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0" /> -->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="robotiq_ft300_joint" type="fixed">
    <parent link= "robotiq_ft300_coupling_toolside" />
    <child link = "robotiq_ft300_robotside" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="dual_gripper_coupling_robotside_joint" type="fixed">
    <parent link= "robotiq_ft300_toolside" />
    <child link = "dual_gripper_coupling_robotside" />
    <!-- until replacing placing spreader /> -->
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 0.0" />
  </joint>


  <joint name="robotiq_2f140_base_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_left" />
    <child link = "robotiq_2f140_base_link" />
    <!-- <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> -->
    <origin xyz="${tcp_calibration_gripper}" rpy="${pi} 0 0" />
  </joint>


  <joint name="camera_adapter_robotside_joint" type="fixed">
    <parent link= "robotiq_2f140_base_link" />
    <child link = "camera_adapter_robotside" />
    <origin xyz="0.0443 0 -0.0385" rpy="${pi} 0 0" />
  </joint>

  <link name="camera_color_optical_frame"/>
  <joint name="camera_color_optical_frame_joint" type="fixed">
    <parent link= "camera_adapter_toolside" />
    <child link = "camera_color_optical_frame" />
    <!-- Approximate physical location -->
    <origin xyz="0.02005 0.035 0.0" rpy="${-pi/2} 0 ${-pi/2}" />
  </joint>

  <!-- Tool center point origin on the fingertip end when the gripper is fully closed -->
  <link name="robotiq_2f140_tcp" />
  <joint name="robotiq_2f140_tcp_joint" type="fixed">
    <origin xyz="0.24127678495 0 0" rpy="${pi} 0 0" />
    <parent link="robotiq_2f140_base_link" />
    <child link="robotiq_2f140_tcp" />
  </joint>

  <link name="robotiq_2f140_tcp_cad"/>
  <joint name="robotiq_2f140_tcp_cad_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_left" />
    <child link = "robotiq_2f140_tcp_cad" />
    <origin xyz="0.24127678495 0 0" rpy="0 0 0" />
  </joint>


  <!-- Offset mesh to match pipette_tcp link calibration -->
  <joint name="pipette_base_joint" type="fixed">
    <parent link= "dual_gripper_coupling_toolside_right" />
    <child link = "pipette_base" />
    <!-- <origin xyz="0.00151316 -0.001407139 0.00353" rpy="${pi} 0.0 0.0" /> -->
    <!-- add small offset to match real setup Z axis 1.25 mm -->
    <origin xyz="0.00151316 -0.001407139 0.00228" rpy="${pi} 0.0 0.0" />
  </joint>

  <link name="pipette_tcp"/>
  <joint name="pipette_tcp_joint" type="fixed">
    <parent link= "pipette_tip" />
    <child link = "pipette_tcp" />
    <!-- Rotate around X axis by PI

         Change the rotation so that it matches the calibrated point
         with a tip when adding the tip along the X axis.
    -->
    <origin xyz="0 0 0" rpy="-3.1415927 0.0272858 1e-7" />
  </joint>

</robot>
